!!!
%html
  %head
    %title= @website_title
    = stylesheet_link_tag *(['global'] + @stylesheets)
    = stylesheet_link_tag "layout.css"
    = stylesheet_link_tag "boxes.css"
    
    = javascript_include_tag "jquery.min"
    = javascript_include_tag "jquery-ui-1.8rc3.custom.min"
    = javascript_include_tag "core"
          
  %body
    #top
      %span.pict
      %span.name= params[:id]
      %img{:src=>"/images/twit_tick.png",
             :width=>"31",
             :height=>"31",
             :id => "twit"}
    .container_12
      .grid_12#header.nomargin
        %img{:src=>"/images/twirlybox_logo.png",
             :width=>"320",
             :height=>"100",
             :id => "logo"}
        #nav_header
          #menu
            %ul
              %li
                - if controller.controller_name == "gallery"
                  %a{:class=>'selected',
                     :href=>"/#{params[:id]}"} Gallery
                - else
                  %a{:href=>"/#{params[:id]}"} Gallery
              %li
                - if controller.controller_name == "vault"
                  %a{:class=>'selected',
                     :href=>"/#{params[:id]}/vault"} Vault
                - else
                  %a{:href=>"/#{params[:id]}/vault"} Vault
              %li
                - if controller.controller_name == "passport"
                  %a{:class=>'selected',
                     :href=>"/#{params[:id]}/passport"} Passport
                - else
                  %a{:href=>"/#{params[:id]}/passport"} Passport
        #title 
          %img{:src=>"/images/title.png"}
          
      .grid_12#body
        = yield	
   
      .grid_12#footer
        %ul
          %li <a href="http://twitter.com/twirlybox"><img src="http://twitter-badges.s3.amazonaws.com/follow_us-b.png"/></a>

