!!!
%html
  %head
    %title= @website_title
    = stylesheet_link_tag *(['global'] + @stylesheets)
    = stylesheet_link_tag "960.css"
    = stylesheet_link_tag "layout.css"
    = stylesheet_link_tag "boxes.css"
    
    = javascript_include_tag "jquery.min"
    = javascript_include_tag "jquery-ui-1.8rc3.custom.min"
    = javascript_include_tag "core"
          
  %body
    .container_12
      .grid_12#header.nomargin
        %img{:src=>"/images/twirlybox_logo.png",
             :width=>"320",
             :height=>"100",
             :id => "logo"}
        #nav_header
          #menu
            %ul
              %li 
                %a{:href=>"/#{params[:id]}"} Gallery           
              %li 
                %a{:href=>"/#{params[:id]}/vault"} Vault         
              %li 
                %a{:href=>"/#{params[:id]}/wallet"} Wallet
              %li 
                %a{:href=>"/#{params[:id]}/passport"} Passport           
        #title 
          %img{:src=>"/images/title.png"}
          
      .grid_12#body
        = yield	
   
      .grid_12#footer
        %ul
          %li <a href="http://twitter.com/twirlybox"><img src="http://twitter-badges.s3.amazonaws.com/follow_us-b.png"/></a>

